﻿@* 
    Strongly typed view
    Siia viewsse saan ma ainult panna kaasa @model taga kirjeldatud tüüpi objekti
*@

@model IEnumerable<AspNetCore.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="http://www.delfi.ee">DELFI</a>
    <br />
    @* Tag Helpers
        Tee mulle link, mis suunab Create Actionisse
        Kui pole eraldi määratud, siis võetakse sama kontrolleri Action, kus me viibime
        asp-action ütleb actioni
        asp-controller ütleb kontrolleri
        *@
    <a asp-action="Create" asp-controller="Students">Create New</a>
    <br />
    @Html.ActionLink("Create New", "Create", "Students")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @* HTML Helpers
            DisplayNameFor annab mulle mudeli mingi konkreetse välja ehk klassi property nimetuse
                *@
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMarried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBlind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMarried)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlind)
            </td>
            <td>
                @* asp-route-id ütleb siis et Edit action pane kaasa parameeter id
            ehk siis peale teist kaldkriipsu kolmas parameeter /Students/Edit/4 *@
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
