﻿
@{
    ViewData["Title"] = "Services";
}
<h1>Services</h1>

<h2>@ViewData["Message"]</h2>

<h3>@ViewData["Date"]</h3>

<h4>@ViewData["Pi"]</h4>

            

<p>Autopesu</p>

<p>Puhastus</p>

<p>Remont</p>

